{% extends "layout.html" %}
{% block content %}
<body>
  
    
    <div id="introduction">
      <h2>About this project</h2>
      <p>I built this website over the course of two weeks. I wanted to build an application using Flask, 
        and I stumbled upon a Flask video series by Corey Shafer. <br> Completing the series and building this blog 
        became an outlet for experimenting with HTML/CSS, Python, SQL and Bootstrap. 
      </p>
      <h3>What I learned from this project</h3>
      <ul>
        <li>Bootstrap navigation, alerts, and styling. </li>
        <li>Using SQL to store, retrieve, and update user information, posts, and passwords.</li>
        <li>Breaking a project into templates, packages, and forms so that debugging isn't a total nightmare. </li>
        <li>Setting up a linux server, and deploying an application.</li>
      </ul>
      <h3>Features</h3>
          <ol>
            <li>Create posts</li>
            <li>Register,login</li>
            <li>Reset passwords</li>
            <li>Edit posts(if logged in) </li>
            <li>Delete posts</li>
            <li>Set a profile picture</li>
            
          </ol>
      <h3>What I will do differently moving forward</h3>
      <ol>
        <li>Organize the files into packages at the beginning so that I don't have to refactor so many forms/templates</li>
        <li>Build out a layout page and use extension blocks so I do not repeat as many code blocks</li>
        <li>Take more breaks when I feel stuck or discouraged during debugging</li>
        <li>Drink more coffee :)</li>
      </ol>
    </div>
    
  </body>
    
   
{%endblock content%}

